<html>
    <!-- id | description | pname | price | qty  | imgpath-->
    <h1 align="center">Product form</h1>
    <body>
        <form action="/add" method="post">
            <table border="1" align="center"  style="width: 50%;font-size: larger;">
                <tr><td  align="center">
                <br>
                Product Id:  <input type="text" name="id" id="id" value="id" ><br><br>
                Product description:<input type="text" name="description" id="description" value="description"><br><br>
                Product pname:<input type="text" name="pname" id="pname"  value="pname"><br><br>
                Product price:  <input type="text" name="price" id="price" value="price" ><br><br>
                Product qty:<input type="text" name="qty" id="qty" value="qty"><br><br>
                Product imgpath:<input type="text" name="img" id="img"  value="img"><br><br> 
                <button type="submit" value="add" >UPDATE Employee</button></td>
                </tr>
             </table>
            </thead>
        </form>
    </body>
</html>

